body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2c28;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
width: 100%;
}

h1 {
  color: #a0a0a0;
  font-weight: bold;
  text-align: center;
}

/**** från HTML <script> ****/
.App-content {
  color: black;
}




@media (min-width: 668px) and (max-width: 1024px) {
.Header {
  text-align: center;
}

h1 {
  padding-left: 0;
}


.album {
  width:45%;
  padding: 5px;
}

img {
  width: 300px;
  
}

};

@media (min-width: 1026px) {
  .album {
    width: 20%;
    padding-top: none;
}

.album-title {
  max-width: fit-content;
}
    
img {
      width: 95%;
      padding: 10px;
}


};


