.album-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.Album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
  
.album {
    align-items: center;
    padding-top: 50px;
}
  
.cover {
    display: flex;
    z-index: 1;
    justify-content: center;  
    margin-bottom: 10px;
}

img:hover {
   filter: brightness(30%); /*** This makes the img darken when hover over ***/
}

img {
    width: 450px;
    z-index: 2;
    max-width: 95%;
}

.icons {
    flex-direction: row;
    z-index: 3;
    position: absolute;
    align-self: center;
    display: none;
    text-align: center;
}

.icons:hover~img {  /***** This makes the img stay dark when hover the icons ****/
   filter: brightness(30%); 
}

.cover:hover .icons{
    display: block;
    cursor: pointer;    
}

.heart {
    width: 8%;
    padding-bottom: 15px;
}

.heart:hover {
    filter:none;    
}

.play-button {
    width: 15%;
    padding: 0 30px;
    filter: alpha(opacity=50);   
}
    
.play-button:hover {
    width: 25%;
    filter: none;
    opacity: 1;
    padding:0 15px;
}

.dots {
    width: 8%;
    padding-bottom: 18px;
}

.dots:hover {
    filter:none;
}

.album-title {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
}

.album-title:hover {
    text-decoration-line: underline;
}
  
.artists-name {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    margin-top: 5px;
    margin-left: 10px;
}
  
.artists-name:hover {
  text-decoration-line: underline;
}

/****** Links ******/
.album-link {
    color: #ffffff;
    text-decoration: none;
}
  
.artists-link {
    color: #a0a0a0;
    text-decoration: none;
}


@media (min-width: 1025px) and (max-width: 2000px) {
/****Having Header @media queries here because its not working when in Header.css ****/    
.Header {
    display: flex;
}
            
h1 {
    margin-left: 40px;
    text-align: left;
}    

.album-container {
    margin: 0 40px 40px;
}
    
.album {
    max-width: 25%;
    padding-top: 15px;
}
    
.album-title {
    max-width: fit-content;
}
        
img {
    padding: 10px;
}

.heart, .dots {
    padding-bottom: 10px;
}

.play-button:hover {
    width: 18%; 
}
       
};
    
